*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Primary */
  
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  
  /* Neutral */
  
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* Fonts */

  --fw200: 200;
  --fw400: 400;
  --fw600: 600;
}

body {
  background-color: var(--Very-Light-Gray);
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
}

/* Desktop Card Style start */

ul {
  max-width: 69.375rem;
  /* width: 800px; */
  margin: 2rem auto;
  /* background-color: wheat; */
  border: 1px solid red ;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

ul div {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

li {
  position: relative;
  overflow: hidden;
  /* background-color: yellowgreen; */
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  /* height: 200px; */
  
  max-width: 23.125rem;
  /* width: 300px; */
  /* max-width: 33.33%; */
  padding: 2rem;
  border-radius: 8px;
}

 li span {
  display: block;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

li h2 {
  color: var(--Very-Dark-Blue);
}

li p {
  color: var(--Grayish-Blue);
  font-size: 14px;
  font-weight: var(--fw400);
  line-height: 1.6;
}

.cyan-card span:first-of-type {
  background-color: var(--Cyan);
}

.red-card span:first-of-type {
  background-color: var(--Red);
}

.orange-card span:first-of-type {
  background-color: var(--Orange);
}

.blue-card span:first-of-type {
  background-color: var(--Blue);
}

/* .cyan-card {
 border-top: 0.25rem solid var(--Cyan);
}

.red-card {
  border-top: 0.25rem solid var(--Red);
}

.blue-card {
  border-top: 0.25rem solid var(--Blue);
}

.orange-card {
  border-top: 0.25rem solid var(--Orange);
} */


/* Desktop Card Style End */


ul div {
  /* display: flex; */
}



.vertical {
  background-color: royalblue;
 
}